# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environment variables
.env
.env.*

# Virtual environments
venv/
.venv/

# Node / JS
node_modules/
dist/
build/

# OS files
.DS_Store

# Docker
*.log

# Frontend caches
.next/
.cache/

# Database dumps
*.sql
*.dump
